body {
  overflow: hidden;
}

#container {
  /* Code reprit depuis codepen from Chris Coyier */
  /* Il a été cependant modifié pour le projet */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  height: 80%;

  /* affichage en grid pour mieux gérer l'espace des personnages */
  display: flex;
  flex-wrap: wrap;
}

#logo {
  flex-grow: 100;
  display: grid;
  justify-content: end;
  align-content: stretch;
  align-items: end;
  margin-right: 284px;
  filter: drop-shadow(-4px 8px 8px rgba(0, 0, 0, 1));
}

#logo img:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.80)) grayscale(100%);
  transform: scale(1.1);
}

/*
* Code CSS pour l'affichage des cartes de personnages
* ------------------------------------------------------------------------------------------------------------------
*/

/* Carte de personnages */
.card {
  /* affichage grid avec trois colonnes et trois rangées */
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 35px auto 30px;
  column-gap: 10px;
  row-gap: 15px;

  /* gestion des couleurs et police */
  color: white;
  font-family: "Roboto", sans-serif;

  /* taille des cartes */
  height: 300px;
  width: 250px;
  border-radius: 24px;
  padding: 18px;
  margin-left: 15px;
  margin-right: 15px;

  /* From https://css.glass */
  background: rgba(31, 96, 50, 0.85);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(31, 96, 50, 0.16);
}

.card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.04);
}

/* nombre de victimes de la personne */
.victim-number {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  color: White;
}

/* image du personnage */
.cara-img {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  text-align: center;
  color: White;

  display: flex;
  justify-content: center;
  align-content: center;
}

.portrait {
  object-fit: cover;
  object-position: 100% 30%;
  align-self: center;
  justify-self: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

/* nom du personnage */
.cara-name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  text-align: center;

  align-self: center;
  justify-self: center;

  color: White;
  font-size: 1.3em;
  font-weight: bolder;
}

/*
* Affichage du texte qui indique l'intéraction
* ------------------------------------------------------------------------------------------------------------------
*/

.action {
  display: flex;
  align-items: flex-end;
  margin-bottom: 35px;
}

.action div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 44px;
}

.action p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  margin: 0;
}

.action p span {
  font-size: 1.8em;
  margin-left: 10px;
  font-weight: bolder;
}

/*
* Code qui gère l'affichage des modales
* ------------------------------------------------------------------------------------------------------------------
*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal.active {
  display: block;
}

.modalContent {
  background-color: rgb(31, 96, 50);
  margin: auto;
  padding: 20px;
  border: 2px solid whitesmoke;
  width: 80%;
  height: 80%;
  border-radius: 2em;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  grid-template-rows: auto 1fr;
}

.modalHeader {
  color: white;
  font-family: "Roboto", sans-serif;
}

#my_dataviz {
  width: 100%;
  height: 100%;
}

.close {
  color: #aaaaaa;
  font-size: 35px;
  font-weight: bold;
  grid-row: 1;
  grid-column: 3;
  justify-self: end;
  align-self: start;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalHeader {
  grid-row: 2;
  grid-column: 1 /2;
}

.modal-title {
  margin: 0;
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  color: White;
  font-family: "Roboto", sans-serif;
}

.modalHeader h2 {
  margin: 0 auto 30px auto;
  text-align: center;
}

hr.rounded {
  border-top: 4px solid #bbb;
  border-radius: 5px;
  width: 100%;
}

.info-perso {
  display: flex;
  flex-direction: column;
}

.info-perso img {
  margin: 30px 0 10px 0;
}

.modalBody {
  grid-row: 2;
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody #my_dataviz {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;

  font-family: "Roboto", sans-serif;
}

td {
  padding: 8px;
  text-align: left;
  vertical-align: top;

  border-bottom: 1px solid #ddd;
}

td.title {
  font-weight: bold;
  font-size: 1em;
  width: 40%;
}

td.description {
  font-style: italic;
  vertical-align: bottom;
}

/*
* code css pour le deuxième graphique
* ------------------------------------------------------------------------------------------------------------------
*/

.node:hover {
  stroke-width: 7px !important;
  opacity: 1 !important;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 166px;
  height: 66px;
  padding: 3.3px;
  font: 16.6px sans-serif;
  background: yellow;
  border: 0px;
  border-radius: 13.3px;
  pointer-events: none;
  line-height: 33px;
}

/*
* blur effect à l'ouverture du modal
* ------------------------------------------------------------------------------------------------------------------
*/
.blur {
  filter: blur(4px);
}

/*
* Media queries pour affichage du background
* ------------------------------------------------------------------------------------------------------------------
*/

@media only screen and (min-device-width: 400px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/background/background_walter.png");
  }
}
