#container {
    /* Code reprit depuis codepen from Chris Coyier */
    /* Il a été cependant modifié pour le projet */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 80%;

    background: green;

    /* affichage en grid pour mieux gérer l'espace des personnages */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}


/* médiad queries */
@media only screen and (min-device-width: 1200px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/background/1920-background-van.png");
    }
}

@media only screen and (min-device-width: 1020px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/background/1020-background-van.png");
    }
}

@media only screen and (min-device-width: 800px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/background/800-background-van.png");
    }
}

@media only screen and (min-device-width: 400px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/background/800-background-van.png");
    }
}